### ensemble.ipynb

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics, preprocessing, model_selection
#from sklearn.ensemble import RandomForestClassifier
#import lightgbm as lgb
from catboost import CatBoostClassifier
import os
%matplotlib inline
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)

In [2]:
print(pd.__version__)
print(np.__version__)

1.1.3
1.19.2

In [3]:
TARGET_VAR = 'Response'
SEED=2021
data_path = r'C:\Users\91810\Data_2\analytics_vidhya\Job a-thon 2021\\'
sub1 = pd.read_csv(os.path.join(data_path,"sub9.csv"))
sub2 = pd.read_csv(os.path.join(data_path,"sub10.csv"))

In [4]:
print(sub1.shape)
sub1.head()

(21805, 2)

      ID  Response
0  50883  0.068017
1  50884  0.083149
2  50885  0.404886
3  50886  0.088847
4  50887  0.052475

In [5]:
print(sub2.shape)
sub2.head()

(21805, 2)

      ID  Response
0  50883  0.064619
1  50884  0.070471
2  50885  0.402768
3  50886  0.081211
4  50887  0.046741

In [6]:
sub = pd.DataFrame()
sub["ID"] = sub1["ID"]
sub["Response"] = 0.5 * sub1["Response"] + 0.5 * sub2["Response"]

In [7]:
print(sub.shape)
sub.head()

(21805, 2)

      ID  Response
0  50883  0.066318
1  50884  0.076810
2  50885  0.403827
3  50886  0.085029
4  50887  0.049608

In [8]:
sub.to_csv("sub11.csv",index=False)